@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'FF8';
  letter-spacing: 2px;
  background: #ece6d9;
}

@font-face {
  font-family: 'FF8';
  src: url('FF8.ttf') format("truetype");
}

h1 {
  font-family: 'FF8';
  letter-spacing: 4px;
}